<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<script src="https://kit.fontawesome.com/7dabd16bb0.js" crossorigin="anonymous"></script>
		<h1>Listing for Drink</h1>

		<f:flashMessages />

		<table class="table">
			<thead>
			  <tr>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_drink.name" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_drink.price" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_drink.description" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_drink.alcoholic" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_drink.volume" /></th>
				<th scope="col"></th>
				<th scope="col"></th>
			  </tr>
			</thead>
			<tbody>
				<f:for each="{drinks}" as="drink">
					<tr>
						<td>{drink.name}</td>
						<td>{drink.price} €</td>
						<td>{drink.description}</td>
						<td>
							<f:if condition="{drink.alcoholic}">
							<f:then>
								{drink.alcoholic} %
							</f:then>
							
							<f:else>
								<i class="fas fa-times"></i>
								
							</f:else>
						</f:if>
						</td>
						<td>{drink.volume}</td>
						<td><f:link.action action="edit" arguments="{drink : drink}">Edit</f:link.action></td>
						<td><f:link.action action="delete" arguments="{drink : drink}">Delete</f:link.action></td>
					</tr>
				</f:for>
			</tbody>
		  </table>

		<f:link.action action="new">New Drink</f:link.action>
	</f:section>
</html>