<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<script src="https://kit.fontawesome.com/7dabd16bb0.js" crossorigin="anonymous"></script>
		<h1>Listing for Menu</h1>

		<f:link.action class="btn btn-primary mb-3" action="new">New Menu</f:link.action>


		<f:flashMessages />

		<div class="row justify-content-around">
			<f:for each="{menus}" as="menu">
			  <div class="card col-4 rounded-lg" style="width: 18rem;">

				  <div class="card-body">
					<h5 class="card-title"><f:link.action action="show" arguments="{menu : menu}"> {menu.name}</f:link.action></h5>
					<div class="card-text row ">
							<p>
							<b>Description : </b>
						  </p> 
						  {menu.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}
				  </div>
					<p>
						<f:if condition="{drink.alcoholic}">
							<f:then>
								<b> Alcoholic : </b> {drink.alcoholic} %
							</f:then>
							
							<f:else>
								<b> Alcoholic : </b><i class="fas fa-times"></i>
								
							</f:else>
						</f:if>
					</p>
					<p>
						<f:if condition="{menu.available}">
							<b>Avaialble : </b><i class="fas fa-check"></i>
						</f:if>
					</p>
					<p>
						<f:if condition="{menu.discount} == 0">
							<f:then>
								<b>Discount : </b><i class="fas fa-times"></i>
							</f:then>
							
							<f:else>
								<b>Discount : </b> {menu.discount} %
							</f:else>
						</f:if>
					</p>
					<p> <b> Price : </b>{menu.price} €</p>
					<f:link.action class="btn btn-primary" action="show" arguments="{drink : drink}"> Show</f:link.action>
					<f:link.action class="btn btn-secondary" action="edit" arguments="{drink : drink}">Edit</f:link.action>
					  <f:link.action class="btn btn-danger" action="delete" arguments="{drink : drink}">Delete</f:link.action>
				  </div>
				</div>
		  </f:for>
	  </div>
<!--
		<table  class="tx_restaurantldvcdhtl table" >
			<tr>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_menu.name" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_menu.price" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_menu.description" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_menu.service" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_menu.available" /></th>
				<th><f:translate key="tx_restaurantldvcdhtl_domain_model_menu.discount" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{menus}" as="menu">
				<tr>
					<td><f:link.action action="show" arguments="{menu : menu}"> {menu.name}</f:link.action></td>
					<td> {menu.price} €</td>
					<td> {menu.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}</td>
					<td> {menu.service}</td>
					<td> 
						<f:if condition="{menu.available}">
							<i class="fas fa-check"></i>
						</f:if>
					</td>
					<td> 
						<f:if condition="{menu.discount} == 0">
							<f:then>
								<i class="fas fa-times"></i>
							</f:then>
							
							<f:else>
								{menu.discount} %
							</f:else>
						</f:if>
					</td>
					
					<td><f:link.action action="edit" arguments="{menu : menu}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{menu : menu}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

	-->

		
	</f:section>
</html>